Repository medhatelmasry/Project-Maestro, pull requests merged in 2021-04, with the labels that each got.

#44 Backend - landing, login, signup, instructor assignment page
  .gitignore
  back-end/.gitignore
  back-end/app/add_members.php
  back-end/app/add_student_course.php
  back-end/app/check_projects.php
  back-end/app/cors.php
  back-end/app/createCourses/createCourse.php
  back-end/app/createCourses/processCreate.php
  back-end/app/create_project_outline.php
  back-end/app/css/add_course_std.css
  back-end/app/css/backend_style.css
  back-end/app/css/bootstrap.css
  back-end/app/home.php
  back-end/app/instructor_login_validation.php
  back-end/app/login.php
  back-end/app/login_validation.php
  back-end/app/process_project_outline.php
  back-end/app/protected.php
  back-end/app/register_user.php
  back-end/app/registration.php
  back-end/app/registration_validation.php
  back-end/app/student_login_validation.php
  back-end/app/viewCourse.php
  back-end/app/view_project_outlines.php
  back-end/app/view_team.php
  back-end/app/view_teams.php
  back-end/appconfig.ini
  back-end/composer.json
  back-end/config/config.php
  back-end/config/database.php
  back-end/config/jwt_secure.php
  back-end/db/api.php
  back-end/db/conn.php
  back-end/db/inc_db_helper.php
  back-end/index.php
  composer.json
  index.php
Labels: back-end, bug, enhancement

#53 Frontend - Issue #42
  .github/workflows/backend_2_azure 2.yml0
  .github/workflows/backend_2_docker_hub 2.yml
  front-end/src/components/Goals.js
  front-end/src/components/Outline.js
  front-end/src/components/OutlineList.js
  front-end/src/components/Project.js
  front-end/src/components/TeamList.js
  front-end/src/pages/LoginPage.js
  front-end/src/pages/RegisterPage.js
  front-end/src/pages/styles/BackButton.css
Labels: enhancement, front-end

#51 enhancement requests for login signup pg & bug fixes for the backend
  back-end/app/createCourses/createCourse.php
  back-end/app/createCourses/school.db
  back-end/app/css/backend_style.css
  back-end/app/login.php
  back-end/app/registration.php
  back-end/app/viewCourse.php
  back-end/db/api.php
  back-end/db/inc_db_helper.php
Labels: back-end, enhancement

#87 Update Readme.md
  Readme.md
Labels: Docs & Testing, documentation

#89 Fixed Michael's issue along with others. See commits
  back-end/app/add_members.php
  back-end/app/processCreate.php
  back-end/app/viewCourse.php
Labels: DB & Deploy, back-end

#83 Frontend issue#62 login/signup
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.js
  front-end/src/NavBar.js
  front-end/src/components/Login.js
  front-end/src/components/Logout.js
  front-end/src/components/Register.js
  front-end/src/js/UserValidate.js
  front-end/src/pages/DashboardPage.js
  front-end/src/pages/LoginPage.js
  front-end/src/pages/RegisterPage.js
Labels: front-end

#90 All instructor pages implemented.
  back-end/.gitignore
  back-end/app/add_members.php
  back-end/app/add_student_course.php
  back-end/app/check_projects.php
  back-end/app/createCourse.php
  back-end/app/create_project_outline.php
  back-end/app/css/add_course_std.css
  back-end/app/database_init.php
  back-end/app/delete.php
  back-end/app/home.php
  back-end/app/instructor_login_validation.php
  back-end/app/login.php
  back-end/app/logout.php
  back-end/app/processCreate.php
  back-end/app/process_add_std_course.php
  back-end/app/process_delete.php
  back-end/app/process_project_outline.php
  back-end/app/project_goals.php
  back-end/app/registration.php
  back-end/app/registration_validation.php
  back-end/app/sanitize_input.php
  back-end/app/viewCourse.php
  back-end/app/view_goals.php
  back-end/app/view_project.php
  back-end/app/view_project_details.php
  back-end/app/view_projects.php
  back-end/app/view_projects_old.php
  back-end/app/view_team.php
  back-end/app/view_teams.php
  back-end/db/api.php
  back-end/db/inc_db_helper.php
  back-end/index.php
Labels: back-end, bug, enhancement

#113 Frontend - Fixed project redirection
  back-end/app/student_login_validation.php
  front-end/src/components/CreateProject.js
  front-end/src/components/Goals.js
  front-end/src/components/Project.js
Labels: bug, enhancement, front-end

#114 Frontend
  front-end/src/components/CreateProject.js
  front-end/src/components/Goals.js
  front-end/src/components/JoinProject.js
  front-end/src/components/Logout.js
  front-end/src/components/Outline.js
  front-end/src/components/OutlineList.js
  front-end/src/components/Project.js
  front-end/src/pages/JoinTeamPage.js
Labels: bug, enhancement, front-end

#115 Last pr before demo (hopefully)
  .github/workflows/frontend_2_azure.yml
  back-end/app/home.php
  back-end/app/processCreate.php
  back-end/app/process_delete.php
  back-end/app/viewCourse.php
Labels: back-end, bug
